@import "../../../../style/global.scss";

$special-case-width: 800px;

.news-feed-wrapper {
  width: 24%;

  display: flex;
  flex-flow: column;

  background-color: rgba(0, 0, 0, 0.6);

  border: 1px solid #7f7668;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 #7f7668;

  overflow: hidden;

  @media (max-width: $ipad) {
    width: 32%;
  }

  @media (max-width: $special-case-width) {
    width: 48%;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 260px;

    @media (max-width: $ipad) {
      max-height: 175px;
    }
  }

  .news-info-wrapper {
    padding: 30px 30px 40px 30px;

    @media (max-width: $ipad) {
      padding: 20px 20px 20px 20px;
    }

    & > div {
      margin-bottom: 10px;

      display: flex;
      align-items: center;
      column-gap: 10px;
      row-gap: 5px;
      flex-wrap: wrap;

      h2 {
        margin: 0;

        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        color: #d9d6d1;

        @media (max-width: $ipad) {
          font-size: 1rem;
        }
      }

      time {
        font-size: 0.875;
        color: #d3d3d3c7;

        @media (max-width: $ipad) {
          font-size: 0.8rem;
        }
      }
    }

    p {
      margin: 0;

      font-size: 1.25rem;
      line-height: 26px;
      word-spacing: 1px;
      color: white;

      @media (max-width: $ipad) {
        font-size: 1rem;
      }
    }
  }
}
