@import "../../../../style/global.scss";

.weight-graph-container {
  margin: 50px 0;
  padding: 24px 48px 60px 24px;
  width: 550px;
  height: 400px;

  background: $sub-bg-cards;

  border: 1px solid $sub-bg-border;
  border-radius: 6px;
  box-shadow: $general-card-box-shadow;

  & > h1 {
    margin: 0 0 24px 0;

    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    color: rgb(187, 187, 187);
  }
}
