.specific-stats-container {
  .specific-stats-wrapper {
    display: flex;
    column-gap: 24px;

    h3 {
      margin: 0;

      font-size: 1.1rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: underline;
    }

    & > div {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: 7px;

      & > div {
        display: flex;
        column-gap: 5px;
        align-items: flex-end;

        img {
          width: 25px;
        }

        span {
          font-size: 1.15rem;
          font-weight: bold;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
