@import "../../../style/global.scss";

.x-category-stats-container {
  margin: 48px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;

  @media (max-width: $mobile) {
    margin: 24px 0;
  }
}
