@import "../../../style/global.scss";

.footer-links {
  display: flex;
  justify-content: center;
  column-gap: 150px;

  @media (max-width: $mobile) {
    column-gap: 0;
    justify-content: space-evenly;
  }

  & > div {
    text-align: center;

    h3 {
      margin: 0 0 20px 0;

      font-size: 1.5rem;
      letter-spacing: 1px;
      text-decoration: underline;

      @media (max-width: $mobile) {
        margin: 0;
        font-size: 1.1rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      display: flex;
      flex-flow: column;
      row-gap: 8px;

      @media (max-width: $mobile) {
        row-gap: 4px;
      }

      li {
        font-size: 1.05rem;

        @media (max-width: $mobile) {
          font-size: 0.9rem;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
