@import "../../../../style/global.scss";

.bell-wrapper {
  position: relative;

  img {
    width: 26px;
    height: 26px;

    animation: ringing-bell 5s ease-out infinite;
    animation-delay: 3s;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $mobile) {
      width: 22px;
      height: 22px;
    }
  }

  .notification-dot {
    position: absolute;
    top: 0;
    right: 0;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background-color: $orange;

    @media (max-width: $mobile) {
      width: 10px;
      height: 10px;
    }
  }
}

@keyframes ringing-bell {
  5% {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(0);
  }
}
