@import "../../../style/global.scss";

.privacy-data-policy-wrapper {
  max-width: 1000px;
  margin-bottom: 32px;

  h2 {
    margin: 0 0 20px 0;
    font-size: 2.5rem;

    @media (max-width: $ipad) {
      font-size: 1.5rem;
    }
  }

  div {
    h3 {
      margin: 20px 0;
      font-size: 1.75rem;
      color: $orange;

      @media (max-width: $ipad) {
        font-size: 1.2rem;
      }
    }

    p {
      margin: 16px 0;

      font-size: 1.25rem;
      line-height: 1.2em;

      @media (max-width: $ipad) {
        font-size: 1rem;
      }
    }
  }
}
