@import "../../../style/global.scss";

.privacy-single-policy-wrapper {
  margin-bottom: 32px;

  @media (max-width: $ipad) {
    margin-bottom: 16px;
  }

  h2 {
    margin: 0;
    font-size: 2.5rem;

    @media (max-width: $ipad) {
      font-size: 1.75rem;
    }
  }

  & > p {
    margin: 20px 0 30px 0;
    font-size: 1.25rem;

    @media (max-width: $ipad) {
      font-size: 1.1rem;
    }
    @media (max-width: $mobile) {
      margin: 10px 0 15px 0;
      font-size: 1rem;
    }
  }

  ul {
    display: flex;
    flex-flow: column;
    row-gap: 10px;

    @media (max-width: $mobile) {
      padding: 0;
      list-style: none;
    }

    li::marker {
      color: $orange;
    }
    li {
      font-size: 1.25rem;

      @media (max-width: $ipad) {
        font-size: 1rem;
      }

      span {
        font-weight: bold;
        color: $orange;
      }

      p {
        margin: 0;
      }
    }
  }
}
