@import "../../../style/global.scss";

@import url("https://fonts.googleapis.com/css?family=Monoton");

.profilo-container {
  display: flex;
  align-items: center;
  column-gap: 16px;

  @media (max-width: $mobile) {
    column-gap: 12px;
  }

  .athlete-name {
    color: $main-text-color;

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Monoton", Helvetica, sans-serif;

    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      text-decoration: underline;
    }

    @media (max-width: $mobile) {
      font-size: 1.25rem;
    }
  }

  @supports (-webkit-background-clip: text) {
    .athlete-name {
      color: transparent;
      background-color: $main-text-color;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .graph {
    width: 3.75rem;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $mobile) {
      width: 3rem;
    }
  }
}
