@import "../../../../style/global.scss";

.login-register-wrapper {
  position: relative;

  padding: 20px 40px;

  background: $header-footer-bg;
  box-shadow: 0 0 15px 5px $header-footer-border-color;

  border: 1px solid $header-footer-border-color;
  border-radius: 10px 50px 10px 50px;

  animation: slide-down linear 0.3s;

  &:hover {
    cursor: auto;
  }

  @media (max-width: $mobile) {
    padding: 20px 30px;
  }

  .close-x {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;

    &:hover {
      cursor: pointer;
      color: $orange;
    }

    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }

  h1 {
    margin: 0 0 24px 0;

    text-align: center;
    letter-spacing: 1px;

    @media (max-width: $mobile) {
      font-size: 1.75rem;
    }
  }

  form {
    display: flex;
    flex-flow: column;
    row-gap: 16px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 16px;

      @media (max-width: $mobile) {
        column-gap: 8px;
      }

      & > label {
        font-size: 1.1rem;

        @media (max-width: $mobile) {
          font-size: 1rem;
        }
      }

      & > input {
        @include general-input;
      }
    }

    .error-msg {
      width: 100%;

      text-align: center;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: bold;
      color: rgb(167, 28, 28);
    }

    button {
      @include btn-default($orange, black);
      margin-top: 12px;
    }
  }

  .login-register-btn-controller-wrapper {
    margin-top: 20px;

    text-align: center;
    letter-spacing: 1px;

    span {
      margin-left: 5px;

      font-size: 1.05rem;
      color: $orange;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      @media (max-width: $mobile) {
        font-size: 1rem;
      }
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
}
