@import "../../../../../style/global.scss";

.general-athlete-stats-title {
  display: flex;
  flex-flow: column;
  row-gap: 32px;

  & > h1 {
    margin: 0;
  }

  & > div {
    color: $orange;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 1px;
  }
}
