@import "../../../style/global.scss";

.home-screen-intro {
  width: 100%;
  height: 750px;

  background-image: url("../../../assets/Images/HomePage/PersonPullupMachine.webp");
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 -10px 25px 5px rgb(27, 27, 27), 0 0 25px 5px rgb(27, 27, 27);
  overflow: hidden;

  @media (max-width: $ipad) {
    height: 600px;
  }
  @media (max-width: $mobile) {
    height: 400px;
    border-radius: 0;
  }

  & > div {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    backdrop-filter: brightness(40%);

    @media (max-width: $mobile) {
      align-items: flex-end;
      justify-content: flex-start;
    }
  }
}
