@import "./style/global.scss";

body {
  margin: 0;
  padding: 0;

  background-color: $main-bg;
  color: $main-text-color;

  font-family: $main-font;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-flow: column;

  overflow-x: hidden;

  position: relative;
}

// Scroll bar
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #0b0b0b;
}
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}
