.logo-wrapper {
  display: flex;
  align-items: flex-end;
  column-gap: 2px;

  img:nth-child(1) {
    width: 2.5rem;
    transform: rotateY(180deg);
  }

  img:nth-child(2) {
    width: 2rem;
    transition: 0.5s;
  }

  img:nth-child(3) {
    width: 2.5rem;
  }

  &:hover {
    cursor: pointer;

    img:nth-child(2) {
      width: 2rem;
      animation: pump linear 0.5s infinite;
    }
  }
}

@keyframes pump {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
